body {
    background-color: cornsilk;
    color: darkblue;
}

header{
    background-color: aquamarine;
}

.logo{
    background-color: burlywood;
}

nav{
    background-color: chocolate;
}

main{
    background-color: greenyellow;
}

section{
    background-color: cornflowerblue;
}

footer{
    background-color: darkslateblue;
}
