body {
    background-image: url(../img/jjkfundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.section-title{
    padding-top: 75px; 
    margin-top: -75px;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: transparent;
    padding: 3%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}

main{
    background-color:white;
    width: 80%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: white;
}

footer{
    background-color: darkred;
    padding: 3%;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: rgba(225, 65, 65, 0.4);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.rodape{
    padding: 3%;
}

h1{
    font-size: 2em;
    padding: 3%;
}

h2{
    font-size: 1.5em;
    padding: 3%;
}

.titulo{
    background-color: darkblue;
    line-height: 3;
    text-align: center;
    font-weight: bold;
    color: white;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

p{
    line-height: 1.5;
    font-size: 1em;
}

.logojjk{
    width: 50%;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.colunared{
    background-color: red;
    color: white;
    text-align: center;
}

td{
    padding: 1%;
    font-size: 125%;
    font-weight: normal;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    width: 48%;
    vertical-align: top;
}

img{
    width: 50%;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.esquerda{
    float: left;
    margin-right: 1%;
    width: 15%;
}

.linksite{
    color: black;
}

.hiromi{
    width: 100%;
}

td:not(.colunared){
    line-height: 1.5;
    font-size: 1em;
}

/* O Honrado */
/* Meio */

.container{
    position: relative;
}

.center{
    position: absolute;
    top: 15%;
    width: 75%;
    left: 15%;
    text-align: center;
    font-size: 18px;
}

.muryo { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}

/* Topo Esquerda */

.topleft {
    position: absolute;
    width: 45%;
    top: 5%;
    left: 5%;
    font-size: 18px;
}

/* Topo Direita */

.topright {
    position: absolute;
    width: 45%;
    top: 5%;
    left: 75%;
    font-size: 18px;
}

/* Baixo Direita */

.bottomright {
    position: absolute;
    width: 45%;
    bottom: 5%;
    left: 75%;
    font-size: 18px;
}

/* Baixo Esquerda */

.bottomleft {
    position: absolute;
    width: 45%;
    bottom: 5%;
    left: 5%;
    font-size: 18px;
}

/* Coisas Diferentes */

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    padding-right: 10px;
    padding-bottom: 50px;
}

nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(65, 105, 225, 0.8 );
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    padding: 0;
}

#menu-toggle:checked + .menu-icon + ul {
    display: flex;
}

nav ul li {
    text-align: center;
    margin: 0;
}

nav ul li a {
    padding: 15px 0;
}

nav ul li label {
     width: 100%; 
    display: block;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
        padding-bottom: 50px;
    }
    
    nav ul {
        display: none; /* Esconde o menu em telas menores */
    }
    
    #menu-toggle:checked + .menu-icon + ul {
        display: flex; /* Mostra o menu em telas menores quando o ícone é clicado */
    }
}

/* Media Query para telas maiores */
@media (min-width: 769px) {
    .menu-icon {
        display: none; /* Esconde o ícone de hambúrguer em telas maiores */
    }
    
    nav ul {
        display: flex; /* Mostra o menu em telas maiores */
        flex-direction: row;
        position: static;
        background-color: transparent;
    }
    
    nav ul li a {
        padding: 10px 15px;
    }
}

/* Forms */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    color: darkred;
    background-color: black;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ff0000;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: darkred;
}

.forms{
    background-color: black;
    color: white;
}